[2012-03-08 23:12] caniszczyk opened #1 "Publish cassovary to maven central"
Now that cassovary is open sourced, it should be published to maven central every release.

To do this with SBT, see this link: http://www.scala-sbt.org/using_sonatype.html

If you need help doing this, consult with the Scalding project who does this...
   http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22scalding_2.8.1%22

[2012-03-13 06:46] meganyao opened #2 "examples/build_run_example.sh not working"
Hi, i encountered the problem when i tried to run the example.

The error is as following:

Compiling HelloGraph ...
error: error while loading TestGraphs, Scala signature TestGraphs has wrong version
 expected: 4.1
 found: 5.0
one error found
Running HelloGraph...
Exception in thread "main" java.lang.NoClassDefFoundError: HelloGraph
Caused by: java.lang.ClassNotFoundException: HelloGraph

[2012-03-14 07:56] #2 closed, assigned to nobody

[2012-03-28 10:07] amisarca opened #3 "SBT update not working"
When running `./sbt update`, I have the following issues:

[code]

[2012-04-24 18:08] mdekstrand opened #5 "Build for newer Scala versions (2.9.x)"
The Cassovary tree, as shipped, only builds against Scala 2.8.1.

Local experiments with building for 2.9.1 and 2.9.2 work (compile and pass all tests), but specs has to be updated to 1.6.9 compiled for 2.9.1.

I would submit a pull request, but my current changes break 2.8.1 builds for some reason I have yet to debug. I redefine 'specs' as follows:

[code]

and then set `build.scala.versions` to

[2012-06-14 19:07] #1 closed, assigned to nobody

[2012-06-14 19:08] #3 closed, assigned to nobody

[2012-06-14 19:14] caniszczyk opened #9 "git-tag releases"
In the future, please use git-tag for releases.

[2012-06-15 21:49] #9 closed, assigned to nobody

[2013-05-28 20:49] dterei opened #29 "Examples don't run"
If I try running the examples I get:

[code]

I've tried on both Linux and OSX with same result. Seems to be a issue with library dependencies and compiling with one scala version and trying to run with another... However I'm just starting to learn Scala so not sure what to do here...

[2013-09-18 20:36] #29 closed, assigned to nobody

[2013-09-18 20:38] #5 closed, assigned to nobody

[2013-09-18 20:47] pankajgupta opened #35 "Build for scala 2.10"
It should be cross-built so as to allow both scala 2.9 and 2.10 users to be use it.

[2013-09-18 20:52] pankajgupta opened #36 "Create labeled graph in com.twitter.cassovary.graph"
Right now, the graph data structure can not have labels on nodes or edges. Allow arbitrary labels in a new class. As a special case, allow only one int to be associated with each edge and each node.

[2013-09-18 20:59] pankajgupta opened #37 "Benchmark current performance on public datasets"
Use datasets on http://snap.stanford.edu/data/index.html and benchmark performance of a couple of algorithms for very big graphs, such as (1) Global pagerank, (2) Personalized pagerank for every node in the graph.

[2014-03-04 20:40] pankajgupta opened #47 "Port build file (build.sbt) to Build.scala"
Cassovary uses sbt (see http://www.scala-sbt.org) and has its build definition in build.sbt. It would be nicer to port that to a scala based build definition.

[2014-03-04 20:48] pankajgupta opened #48 "Benchmark performance of dynamic graph implementation on a synthetic update stream on a large graph"
There are currently two implementations for dynamic directed graphs. src/main/scala/com/twitter/cassovary/graph/{DynamicDirectedGraphHashMap.scala, SynchronizedDynamicGraph.scala}. Generate a synthetic update stream (adds/deletes) on a large graph and benchmark the performance of an algorithm such as calculatePersonalizedReputation() or bfsWalk() in src/main/scala/com/twitter/cassovary/graph/Graph

[2014-03-04 20:55] pankajgupta opened #49 "Implement a triangle counting algorithm"
for example, the randomized algorithm in http://arxiv.org/abs/1212.2264 or one of the other algorithms mentioned in this paper.

[2014-03-05 00:18] #47 closed, assigned to nobody

[2014-03-07 22:52] #35 closed, assigned to nobody

[2014-03-07 22:55] pankajgupta opened #51 "Fix warnings from scala 2.10 compilation"
Compiling in scala 2.10 gives a few warnings. To look at these warnings do: "./sbt clean update ++2.10.3 test"

[2014-03-07 22:59] pankajgupta opened #52 "Running examples should use 'sbt run'"
There are a few examples in examples/scala (and in examples/java) that demonstrate how to use the cassovary library. These are built and run using a hacky bash script examples/scala/build_run_example.sh (which uses examples/build_run_example.sh). Instead we should be using the run command in sbt to build and run these examples.

Another alternative is to build a separate sbt project just for examp

[2014-03-10 18:03] #51 closed, assigned to nobody

[2014-03-12 10:15] szymonm opened #56 "HelloLoadGraph does not finish"
When running HelloLoadGraph the program does not finish. There is something wrong with reading graph from file.

[2014-03-12 12:41] szymonm opened #57 "AdjacencyListGraphReader throws NPE when dir does not exist"
Would be nice to have some more specific error message.

[2014-03-13 00:06] #52 closed, assigned to nobody

[2014-03-25 00:06] #56 closed, assigned to nobody

[2014-03-26 23:33] pankajgupta opened #60 "Extend com.twitter.cassovary.util.NodeRenumberer to use Long and String node ids"
NodeRenumberer is a utility to convert the node ids supplied to a more compact, sequentially increasing integer node ids used internally. However, the current implementation only allows integer node ids to be supplied at the input. Would be great to allow Long and String node ids as well (the internal node ids would still be integer).

[2014-03-27 23:35] pankajgupta opened #61 "Use scala futures/promises in com.twitter.cassovary.graph.ArrayBasedDirectedGraph"
Currently this object uses a couple of hand-rolled methods "parallelForEach" and "parallelWork" in com.twitter.cassovary.util.ExecutorUtils. It will be more elegant to use scala futures and/or promises instead.

[2014-04-23 00:30] pankajgupta opened #63 "Speed up random graph generation"
Currently the methods generateRandomGraph() and generateRandomUndirectedGraph() in TestGraph.scala are slow as they iterate over each of the potential O(n^2) edges to determine whether that edge should be picked or not.

[2014-04-28 22:00] pankajgupta opened #64 "move *Spec tests in src/test (one by one) from 'specs' to scalatest"
'org.specs' has been deprecated and the tests should move to using org.scalatest. An example of the latter is in com.twitter.cassovary.graph.TestGraphSpec.

[2014-04-29 16:49] #37 closed, assigned to nobody

[2014-05-12 18:46] pankajgupta opened #66 "Allow node ids to be Long"
This is related to https://github.com/twitter/cassovary/issues/36 but different. We want the ability of node ids to be Long. The use case is when storing a portion of a huge graph in memory on one machine. The nodes can be too many to be able to map to int. Even though the number of nodes on a single machine are small enough, they can refer to arbitrary remote nodes in their adjacency list.

This

[2014-05-14 04:54] #63 closed, assigned to nobody

[2014-05-21 07:42] #57 closed, assigned to nobody

[2014-05-21 08:09] szymonm opened #70 "Extend AdjacencyListG..R... and ListOfEdgesG...R... to work on Long and String Node ids"
After the node renumbering, there is currently no way to read graphs with long / string ids. Assume a specified single char separator (i.e., similar to the use of space right now) in both cases.

[2014-06-26 19:56] #61 closed, assigned to nobody

[2014-06-26 19:56] #60 closed, assigned to nobody

[2014-06-26 19:58] #49 closed, assigned to nobody

[2014-06-26 19:59] #70 closed, assigned to nobody

[2014-07-18 21:33] crockpotveggies opened #80 "[enhancement] Explain impacts of Node ID scheme"
Noticed an interesting issue when first experimenting with Cassovary. When trying to do PageRank on a 25,000 node graph I kept experiencing many OutOfMemory errors, even with 4G allocated to the java heap.

I realized one of the problems was due to the ID scheme being used by my nodes. Basically, some nodes had an ID similar to 9080256 and so the PageRank algorithm was iterating as many times as t

[2014-07-24 18:51] #80 closed, assigned to nobody

[2014-07-26 19:34] szymonm opened #83 "Improve reading Int graphs"
Now, both graph readers use Regex matching to read graphs. This is very inefficient for the Int case. Could be performed better avoiding regex for something like readInt from InputStream.

[2014-07-31 09:47] szymonm opened #84 "allow traversals to use both in/out edges"
Currently for Traversals you have to specify the direction of edges that will be used. This is to allow walks on directed graphs as if they were undirected.

[2014-07-31 09:49] szymonm opened #85 "fix graphUtils documentation"
Documentation contains a lot of errors - esp. param names.

[2014-09-06 06:04] ashishgpersonal opened #88 "Add check for negative numbers in getNodeById()"

[2014-09-07 02:59] pankajgupta opened #89 "Deprecate Ostrich and use Metrics"
https://github.com/twitter/ostrich is currently used to maintain internal Stats in Cassovary. Ostrich does not seem to be actively maintained. Instead, should move to https://github.com/twitter/commons/tree/master/src/java/com/twitter/common/metrics as is used in Finagle-stats (http://twitter.github.io/finagle/guide/Metrics.html) as well.

[2014-09-08 22:31] #88 closed, assigned to nobody

[2014-12-17 22:02] chrisbeach opened #90 "Build for Scala 2.11"
Please could you release a build for Scala 2.11?

[2015-01-03 05:35] pankajgupta commented on #90
See outstanding issue https://github.com/twitter/cassovary/issues/89 regarding Ostrich.
Migration to scalatest is tracked in https://github.com/twitter/cassovary/issues/64

[2015-01-03 12:11] szymonm opened #93 "bump fastutils to the newest version"
We use fastutil 6.4.4 while 6.5.16 is the current.

[2015-01-06 17:59] pankajgupta commented on #64
Since someone asked, here is the online documentation for ScalaTest -- we are using WordSpec and ShouldMatchers here.
http://doc.scalatest.org/2.2.1/#org.scalatest.WordSpec
http://www.scalatest.org/user_guide/using_matchers

Can also check out recent pull requests https://github.com/twitter/cassovary/pull/94 or https://github.com/twitter/cassovary/pull/96 to see the difference between Specs and Sc

[2015-01-10 10:24] szymonm commented on #85
I'm on it.

[2015-01-11 13:31] AnishShah commented on #89
@pankajgupta I would like to work on this!

[2015-01-11 16:06] pankajgupta commented on #89
Sure -- please go ahead

On Sun, Jan 11, 2015 at 5:31 AM, Anish Shah <notifications@github.com>
wrote:

[2015-01-12 19:11] pankajgupta opened #109 "Change asserts in GraphBehaviours to ShoudMatchers for more graceful test failures"
A violation of an assert() statement results in a stack trace. The asserts should be removed and replaced by "shouldEqual" type statements.

cc @szymonm

[2015-01-12 19:54] AnishShah commented on #109
Can I work on this ? @pankajgupta @szymonm

[2015-01-12 19:57] szymonm commented on #109
No problem, it's yours.

[2015-01-12 20:04] pankajgupta commented on #109
Might want to wait until #108 is merged

On Mon, Jan 12, 2015 at 11:57 AM, Szymon <notifications@github.com> wrote:

[2015-01-12 20:17] AnishShah commented on #109
@pankajgupta cool :)

[2015-01-13 14:11] AnishShah commented on #109
@pankajgupta Currently, scalatest is available only for test command  ```"org.scalatest" %% "scalatest" % "1.9.2" % "test"``` . We should remove ``` % "test"``` , right?

[2015-01-13 14:12] AnishShah commented on #109
Oops sorry. I thought you wanted to remove ```assert``` from all files. Sorry.

[2015-01-15 00:43] pankajgupta opened #110 "Create a graph which keeps neighboring nodes sorted by id"
In some applications one needs fast intersections of adjacency lists and fast search of whether a node v is a neighbor of a node u. In such cases, a graph that keeps the adjacency list in sorted order would be great.

This should work for both in and out directions in both ArrayBasedDirectedGraph and SharedArrayBasedDirectedGraph.

[2015-01-15 00:57] pankajgupta opened #111 "SharedArrayBasedDirectedGraph does not keep in edges in shared array"
It only seems to keep the out edges in a shared array.

[2015-01-15 15:34] szymonm commented on #85
Done with #74

[2015-01-15 15:34] #85 closed

[2015-01-15 15:35] szymonm commented on #90
Including PR in review #64 is done.
We are waiting only for #89 - in progress.

[2015-01-15 15:36] #93 closed

[2015-01-16 00:59] pankajgupta commented on #48
As pointed by @plofgren this issue makes no sense since SynchronizedDynamicGraph is simply an implementation of DynamicDirectedGraphHashMap. Closing.

[2015-01-16 00:59] #48 closed

[2015-01-16 22:43] szymonm commented on #110
What you want is:
For ArrayBasedDirectedGraph:
To keep in every node an Array of neighbors (only those existing). Use Binary Search for lookup, linear intersection. Right?

[2015-01-16 23:28] pankajgupta commented on #110
Yes, except also for others like SharedArrayBasedDirectedGraph. cc @plofgren as he was interested in this.

[2015-01-17 11:00] szymonm opened #119 "Improve SharedArrayBasedDirectedGraph documentation"
i.a some examples would be useful.

[2015-01-17 19:41] AnishShah commented on #119
@szymonm I'll try to work on this.

[2015-01-17 22:39] szymonm commented on #119
Please focus on #89 first - this our priority and last step to Scala 2.11.

[2015-01-18 07:11] pankajgupta commented on #109
Fixed by @AnishShah

[2015-01-18 07:11] #109 closed

[2015-01-18 07:11] pankajgupta commented on #64
Fixed and removed specs in PR #117

[2015-01-18 07:11] #64 closed

[2015-01-18 07:15] pankajgupta commented on #110
Is anyone working on this issue? If not, I can start working on it soon.

[2015-01-18 10:51] szymonm commented on #110
I can work on ArrayBasedDirectedGraph

[2015-01-18 16:14] AnishShah commented on #89
Hi, so I have started working on this..
We will need [Twitter-Server](https://twitter.github.io/twitter-server/Migration.html) integrated into `CassoveryServer.scala` instead of current Ostrict AdminHttpService.

When I added `"com.twitter" % "twitter-server_2.10" % "1.9.0"` to `Build.scala` , I'm getting the following error. I tried a lot, but I'm not able to resolve this. Can anyone help? @panka

[2015-01-18 17:49] szymonm commented on #89
Can you push a PR? I can lok at it
W dniu niedz., 18 sty 2015 o 17:14 Anish Shah <notifications@github.com>
napisał(a):

[2015-01-20 21:07] szymonm commented on #90
@AnishShah Are you currently working also on 2.11? If not, I can take care of it.

[2015-01-21 06:33] AnishShah commented on #90
First we need to migrate from ostrich to metrics right? Currently doing
that..
On 21 Jan 2015 02:37, "Szymon" <notifications@github.com> wrote:

[2015-01-21 10:51] szymonm commented on #90
Right, ok.

[2015-01-22 18:41] AnishShah commented on #89
Should we close this now?

[2015-01-23 15:05] caniszczyk opened #126 "Cross publish Scala 2.10/2.11 releases"

[2015-01-23 22:48] caniszczyk commented on #90
This is now done through a combination of commits https://github.com/twitter/cassovary/commit/9135d0d7cda38d14183bca1e10fa8e968063e466

[2015-01-23 22:48] #90 closed

[2015-01-23 22:49] caniszczyk commented on #89
Yes IMHO

[2015-01-23 22:49] #89 closed

[2015-01-23 22:49] caniszczyk commented on #126
I'll wait for @pankajgupta to do the honor of publishing a new release

[2015-01-24 01:22] pankajgupta commented on #126
Thanks @caniszczyk . Noticed that there are a fair amount of 'evicted' warnings in sbt. Should we try to fix them? e.g., this one is quite frequent:
[warn] There may be incompatibilities among your library dependencies.
[warn] Here are some of the libraries that were evicted:
[warn] 	* com.google.guava:guava:13.0.1 -> 16.0.1 (caller: com.twitter.common:collections:0.0.82, com.twitter.common:quanti

[2015-01-24 01:33] pankajgupta opened #128 "Fix compilation warnings post move to scala 2.11 in cassovary version 4.0.0+"
If you start working on this, please leave a comment here.

[2015-01-24 01:33] pankajgupta commented on #128
e.g., this warning:
[warn] /Users/pankaj/work/oss/cassovary/cassovary-core/src/main/scala/com/twitter/cassovary/graph/TestGraph.scala:158: trait SynchronizedBuffer in package mutable is deprecated: Synchronization via traits is deprecated as it is inherently unreliable.  Consider java.util.concurrent.ConcurrentLinkedQueue as an alternative.
[warn]     val nodes = Array.fill[mutable.Buffer[Int]](nu

[2015-01-24 01:34] pankajgupta commented on #128
And a bunch more in tests

[2015-01-24 10:54] AnishShah commented on #128
Working on this..

[2015-01-24 22:10] pankajgupta opened #132 "Remove library eviction warnings with sbt"
When using sbt, we are currently getting:

[warn] There may be incompatibilities among your library dependencies.
[warn] Here are some of the libraries that were evicted:
[warn]  * com.google.guava:guava:13.0.1 -> 16.0.1
[warn] Run 'evicted' to see detailed eviction warnings

[2015-01-24 22:53] szymonm commented on #132
The problem is "com.github.spullara.mustache.java" % "compiler" % mustacheVersion dependency of twitter-server that needs guava 13.0.1.

And twitter-utils depends on com.google.code.findbugs:jsr305:1.3.9 that is also old.

@travisbrown @caniszczyk Can you do anything about that?

[2015-01-25 04:44] pankajgupta commented on #132
At least twitter-server should not be needed in cassovary-core. I have removed it (in commit d6032e6531da38925cf43cd8154610dd7a267a60) as a shared dependency and left it for only cassovary-server (for which the eviction problem remains).

[2015-01-26 06:07] AnishShah commented on #110
I'll try to work on SharedArrayBasedDirectedGraph .

[2015-01-26 19:09] #128 closed

[2015-01-26 19:09] pankajgupta commented on #126
Released, thanks @caniszczyk and @travisbrown .

[2015-01-26 19:09] #126 closed

[2015-01-27 19:47] pankajgupta opened #136 "Remove the unnecessary "() =>" in `def iteratorSeq` from com.twitter.cassovary.util.io.GraphReader"
It doesn't seem to me that this is necessary. The original idea I guess was to ensure that the files are read during graph construction and not upfront. But even if we just have Seq[Iterator[NodeIdEdgesMaxId]] only the iterators are constructed and not actually traversed. Hence it seems like the extra empty parentheses are un-necessary.

Would you agree @szymonm ?

[2015-01-27 20:20] szymonm commented on #136
Maybe the intention was to open the file on call? Have no idea what else could that be.

It is also puzzling that we don't need to close the file.

Read 2nd answer from: http://stackoverflow.com/questions/4458864/whats-the-right-way-to-use-scala-io-source and it turns out that we should actually avoid scala's Source.fromFile()...

[2015-01-27 20:39] pankajgupta commented on #136
Aha -- not closing the file is definitely a bug that we should fix.

I wouldn't go to the extent to completely avoid io.Source but yes should take care of exceptions

But this will need to be modified too in AdjacencyListGraphReader as this will be evaluated as soon as the class is created:
    val (edgesBySource, nodeMaxOutEdgeId) = readEdgesBySource()

[2015-01-27 21:03] szymonm commented on #136
That is true, but () => Iterator is still weird. IMO Iterable looks better than this, if some initialization is needed.

I would like to see there sth like
[code]
where
[code]

[2015-01-27 21:52] pankajgupta commented on #136
Agreed Iterable is good.

[2015-01-28 09:44] AnishShah commented on #136
I'm working on this. I did as @szymonm said. Then, do I also have to change
```Seq[() => Iterator[NodeIdEdgesMaxId]]``` to ```Iterable[NodeStream]``` ?

[2015-01-28 12:55] AnishShah commented on #136
Sorry. I mean, do I have to change ```Seq[() => Iterator[NodeIdEdgesMaxId]]``` to ```Iterable[NodeStream]``` in `ArrayBasedDirectedGraph` and `SharedArrayBasedDirectedGraph` ?

[2015-01-29 21:05] pankajgupta opened #139 "Allow info to be stored per node in an array of nodes"
Motivated by https://github.com/twitter/cassovary/pull/138 where a centrality score is being computed per node and it might be sometimes most efficient to keep information per node stored in an array.

Currently we have graph.tourist.InfoKeeper that keeps info in a mutable.Map which precludes storing infoPerNode in an array.

How about declaring a new trait that has get/put. and allowing infoPerNo

[2015-01-29 22:04] plofgren opened #140 "Clarify support for Undirected Graphs"
I have an application where I needed an undirected graph.  I actually didn't realize until today that "Mutual" in StoredGraphDir meant undirected and was starting to write my own UndirectedGraph wrapper class when I noticed it.  How should we make this more clear?  For example I could add a comment to StoredGraphDir along the lines of
`Mutual, // In a mutual graph, the outbound and inbound neighbo

[2015-01-29 22:08] pankajgupta commented on #140
Let's make this more explicit by adding a wrapper.

On Thu, Jan 29, 2015 at 2:05 PM, Peter Lofgren <notifications@github.com>
wrote:

[2015-01-30 18:06] pankajgupta opened #143 "Parametrize Graph by NodeType"
As @szymonm mentioned in #141 something like:

trait Graph[NodeType <: Node] {
  getNodeById: Option[NodeType]
...
}

That allows Node to be subclassed and used in the respective Graph. e.g., in #141 we would do:

trait UndirectedGraph extends Graph[UndirectedNode] {
  getNodeById: Option[UndirectedNode]
}

[2015-01-31 00:55] bmckown opened #144 "TriangleCountSpec does not consistently pass"
The randomly generated graph does not consistently provide a triangle count of 0 +/- 20.

https://travis-ci.org/twitter/cassovary/jobs/48922273#L1352

[2015-01-31 10:34] szymonm commented on #144
you won the jackpot @bmckown

When choosing the bounds I ran the tests 1000 times. And was good (running few times). So we expect the failure probability to be < 0.001 (+/- some bias). Last results of 32 when current bound is 20 indicates that the distribution of results of the algorithm may have a high variance.

@pankajgupta, @bmckown  we can:
1) increse the bounds (even further?, would that hel

[2015-01-31 10:36] szymonm commented on #136
Pls squash the commits, @AnishShah when this will be ready to merge.

[2015-01-31 11:27] AnishShah commented on #136
@szymonm Done.

[2015-01-31 16:38] bmckown commented on #144
Ha.  Whats funny is this is actually the second time I've seen the tests fail in the same spot--once it failed locally and now in the travis-ci build.

Is part of this test to actually test the random graph generation?  Could we test the triangle counting algo on a static graph of our choosing?

[2015-01-31 18:59] AnishShah commented on #143
Working on this..

[2015-01-31 20:38] szymonm commented on #144
No. It should test randomized triangle counting algorithm.

It needs a big graph to have good precision.

Maybe we should store sam random graph(s) to a file and use this one. Now we have two randomizations.

[2015-01-31 21:58] pankajgupta commented on #144
Agree with you guys that we need to make this robust.
@szymonm Is it possible to do that by choosing seed values of all random variables in the triangle counting spec and running it on a pre-stored graph

[2015-02-01 17:19] bartekkalinka opened #145 "Adding cassovary as dependency does not work"
When adding cassovary as dependency in another project (according to Readme):
libraryDependencies += "com.twitter" %% "cassovary" % "4.0.0"
in build.sbt
I get compile error "object cassovary is not a member of package com.twitter".

I checked cassovary jar in Ivy repository cache and it does not contain any classes (just metainf directory).  It's the same, when I compile cassovary with sbt package

[2015-02-01 19:09] #136 closed

[2015-02-01 19:29] pankajgupta commented on #145
that's a bug in README. Yes, please fix README. thanks

[2015-02-02 04:14] #145 closed

[2015-02-03 21:15] bartekkalinka commented on #83
I'm trying to work on this issue - currently preparing a benchmark, before I make any attempt at readers modification.

[2015-02-03 21:23] szymonm commented on #83
You can use PerformanceBenchmark without specyfying any special benchmark.

[2015-02-06 06:08] #110 closed

[2015-02-09 14:38] szymonm commented on #111
I will be working on SharedArrayBased...

[2015-02-09 15:26] bartekkalinka commented on #83
I wrote some tests, a generator and several simple parsers to compare performance.  I chose to investigate adjacency list format first.  All code is here:
https://github.com/bartekkalinka/cassovary-scratch/tree/master/readers_benchmark
First, I generated a file ("gen" command) with 10,000 nodes and around 50 million edges - the edges are duplicated, but it's ok for reader's performance tests.  Par

[2015-02-16 04:29] pankajgupta commented on #144
I am also getting this test to fail unpredictably (e.g., in the travis ci build of https://github.com/twitter/cassovary/pull/152) . @szymonm -- would be great to make this more predictable sooner.

[2015-02-18 05:41] pankajgupta opened #156 "Implement some similarity algorithms"
Such as cosine similarity and jaccard similarity when given
(1) Two nodes N1 and N2, find the similarity values between them in a given direction (Out or In)
(2) One node N1, find the top K similar nodes to N1

Cosine(N1, N2) = neighbors(N1) &cap; neighbors(N2) divided by (sqrt(numNeighbors(N1)) * sqrt(numNeighbors(N2))

and Jaccard(N1,N2) = neighbors(N1) &cap; neighbors(N2) divided by neighbors(N

[2015-02-18 05:44] pankajgupta opened #157 "Parallelize Pagerank to run on multiple cores"
Current pagerank implementation in com.twitter.cassovary.algorithms is single-threaded. Implement a multi-thread version to make it run faster. Also, report benchmark results comparing the parallel version with the current version (see PagerankBenchmark in cassovary-benchmarks)

[2015-02-18 05:53] pankajgupta opened #158 "Enhance PerformanceBenchmark in cassovary-benchmarks to also report java memory in use"
Currently it only reports speed.

[2015-02-18 05:56] pankajgupta opened #159 "Analyze PersonalizedPageRankBenchmark on a graph and identify opportunities for speed and storage optimization"
1. Profile using YourKit profiler
2. Identify biggest contributors to time and storage
3. Figure out ways to optimize the biggest contributors

[2015-02-18 06:32] #144 closed

[2015-02-18 13:34] AnishShah commented on #144
Please check this out:-
TriangleCount failed.
https://travis-ci.org/twitter/cassovary/jobs/51226753

[2015-02-18 14:15] szymonm commented on #144
That is right. #161 is a fix

[2015-02-20 04:16] #143 closed

[2015-02-20 04:32] pankajgupta opened #162 "Make all directed graph implementations parametrized by NodeType post PR #148"
CC @AnishShah

[2015-02-20 04:32] pankajgupta opened #163 "Add bipartite graph tests that were removed from PR #148"
CC @AnishShah

[2015-02-20 05:37] pankajgupta commented on #83
Sorry for the delayed reply. This is a good investigation. The only other thing to try out might be memory-mapped files using java nio.

[2015-02-20 10:04] AnishShah commented on #163
While making Bipartite Graph,
should RightNode 's inbounds or outbounds have negative IDs or
positive IDs but convert them to negative inside RightNode ?

[2015-02-20 11:42] bartekkalinka commented on #83
I'll try that, give me some time.

[2015-02-23 06:35] #163 closed

[2015-02-23 06:43] pankajgupta opened #165 "Remove the concept of internal/external id in BipartiteGraph"
Simplify it to both LeftNode and RightNode being the same BipartiteNode and the choice of which ids belong to LHS and which ids belong to RHS left to the user. The constructor of BipartiteGraph can take in a function parameter isLeftNode: Int => Boolean that tells whether an id is for left or right side of the graph, which should be checked for neighbors of a BipartiteNode and a runtime exception

[2015-02-26 10:07] AnishShah commented on #165
Can we have `Map[Int, BipartiteNode]` instead of `Array[BipartiteNode]` for storing Nodes?
If you look at `getNodeById` function,

[code]

If it a left node, then it first takes the positive value and then returns the node from array. We might not want to do this, right? Map would be a better idea. I guess.

[2015-02-26 16:49] bmckown opened #168 "Edge Weights"
Everyone,

I wanted to find out the communal opinion on adding edge weights to cassovary.  After having built out quite a few algorithms, it has become clear that these could be improved through the addition of edge weights to the graph structure.  This may be as simple as adding a new Node type--maybe something like

[code]

and a new graph `class EdgeWeightedDirectedGraph extends DirectedGraph[E

[2015-02-26 18:38] pankajgupta commented on #168
IMHO, edge weights are important for many applications and it is a key
missing feature of Cassovary right now. However, Cassovary is all about
efficiency of storage, so it will be nice to give thought to that. There
are two separate things here:
(1) Abstraction -- such as EdgeWeightedNode in your snippet
(2) Implementation -- take a look at com.twitter.cassovary.graph.labels and
see what you think

[2015-02-26 18:39] pankajgupta commented on #168
Also see #36 for some past discussion on this.
CC @szymonm

[2015-02-26 18:40] pankajgupta commented on #83
np

[2015-02-26 19:31] pankajgupta commented on #165
Map is just in general more inefficient than an array so lets still have an array based implementation. You could still have two separate arrays: left and right and use one or the other depending on isLeftNode function.

[2015-02-27 00:10] pankajgupta opened #169 "Bug: ArrayBasedDirectedGraph in OutDir(InDir) should not create nodes that have no out (in) edges"

[2015-02-27 05:45] pankajgupta commented on #169
It is harsh to call this a bug, just a missed optimization.

[2015-02-27 17:50] pankajgupta commented on #169
Started fixing this and realized that this would need changes to Traverser as well. With this change, for a graph with a single edge 1->2, only node 1 will exist in the graph. This breaks traverser as it currently needs node 2 to be present as well. The best choice would be to change Traverser to be an iterator of node-ids, not nodes. Any thoughts @szymonm ?

[2015-02-27 22:01] szymonm commented on #169
IIUC, after fix getNodeById will return Node but the node is going to be instantiated on the fly with no edges, right?
Thit is something different than returning None, when there is no such node in the graph, right?
So shouldn't Traverser return the Node (with empty edges list) that was created by getNodeById?

I think returning a Node is more general and easier to use than just id, i.e., we will

[2015-02-28 08:10] pankajgupta commented on #169
I wasn't thinking that getNodeById will construct it on the fly but what you say makes sense. Thanks.

[2015-03-05 05:47] pankajgupta commented on #111
Fixed by @szymonm in #153

[2015-03-05 05:47] #111 closed

[2015-03-05 05:51] pankajgupta opened #171 "Benchmark and profile construction of ArrayBasedDirectedGraph and SharedArrayBasedDirectedGraph on large graphs"
Add this benchmark to cassovary-benchmarks. Use artificially constructed random graphs with say 100 million nodes and 1 billion edges and use java heap size of 8GB to study performance and memory usage characteristics.

[2015-03-05 08:37] pankajgupta opened #172 "Report performance and quality results using Cassovary for this medical records dataset"
See http://hortonworks.com/blog/using-pagerank-detect-anomalies-fraud-healthcare/
This would be for fun, instructive analysis and potential optimizations in Cassovary.
CC @bmckown @AnishShah as you guys have been doing link analysis / similarity recently.

[2015-03-11 06:02] pankajgupta opened #174 "Improve performance of Closeness Centrality"
Currently the code performs a new Breadth-first-search for every node. Improve its performance.

[2015-03-11 06:03] pankajgupta commented on #174
Benchmark results reported in #173 show actual absolute numbers on speed.

[2015-03-11 06:10] pankajgupta commented on #174
One potential algorithm is to first find strongly connected components of the given graph G (http://en.wikipedia.org/wiki/Strongly_connected_component). All the nodes of a single SCC must have the same value of number of nodes reachable. So consider the condensation of G which is a DAG. and obtain the number of reachable nodes from each node in this DAG (perhaps by doing modified breadth-first-sea

[2015-03-11 14:54] bmckown commented on #174
+1

[2015-04-19 07:28] pankajgupta opened #180 "Suddenly failing Travis CI"
https://travis-ci.org/twitter/cassovary/builds shows that version with git tag 5.1.1 suddenly started failing travis ci builds, and every build since then has failed with the same message:
[error] (cassovary-core/*:update) sbt.ResolveException: unresolved dependency: com.twitter.common#metrics;0.0.29: not found

This is particularly strange since doing
$ git diff 5.1.0 5.1.1
shows no change.

Furt

[2015-04-19 08:46] pankajgupta commented on #180
Created a new branch "new-travis-file" to play with different .travis.yml but doesn't seem to help. Throws the mysterious message while downloading metrics.jar. See https://travis-ci.org/twitter/cassovary/jobs/59100775
[warn] 	[FAILED     ] com.twitter.common#metrics;0.0.29!metrics.jar: The HTTP response code for http://maven.twttr.com/com/twitter/common/metrics/0.0.29/metrics-0.0.29.jar did not i

[2015-04-19 08:51] pankajgupta commented on #180
Wonder if this is related to http://stackoverflow.com/questions/18208224/force-sbt-to-follow-redirects-for-an-explicit-github-releases-url

[2015-04-19 14:06] travisbrown commented on #180
Hi @pankajgupta, I've just sent you an email about this issue—it's an intermittent problem with the `maven.twttr.com` repository that needs more investigation.

[2015-04-19 23:25] pankajgupta commented on #180
Thanks for looking into it! I didn't seem to have gotten your email. Please
resend to pankaj@yogins.com

On Sunday, April 19, 2015, Travis Brown <notifications@github.com> wrote:

[2015-04-20 05:04] pankajgupta commented on #180
@travisbrown any suggested fixes apart from just including that jar in repo.

[2015-04-20 08:31] travisbrown commented on #180
You can use `- travis_retry sbt ++$TRAVIS_SCALA_VERSION test` to make Travis retry the entire failed command three times—this has fixed the issue for us for other projects.

[2015-04-20 13:44] caniszczyk commented on #180
@pankajgupta checking through your dependencies, why do you need something from maven.twttr.com? Can we refactor something to remove the dependency? That should help with the flakiness and in the future, maven.twttr.com will eventually go away

[2015-04-20 14:54] travisbrown commented on #180
@caniszczyk At a glance it looks like it might not be too hard to remove the direct `com.twitter.common` dependencies here, but metrics is also needed by finagle-stats, which would be a lot harder to disentangle. We just need to start publishing this stuff to Maven Central.

[2015-04-20 16:37] pankajgupta commented on #180
That's right. Currently, we are using finagle-stats which needs metrics.

I am not sure if retries will help. Looks like very single travis build has
failed in the last few days.

What again is the intermittent problem with maven.twttr.com -- is it
unsolvable ?

On Mon, Apr 20, 2015 at 7:54 AM, Travis Brown <notifications@github.com>
wrote:

[2015-05-05 17:18] pankajgupta commented on #180
Solved for now by doing retries.

[2015-05-05 17:18] #180 closed

[2015-05-05 17:21] pankajgupta opened #183 "Ability to read graph files in Pajek format."
See https://gephi.github.io/users/supported-graph-formats/pajek-net-format/

Make a new reader similar to com.twitter.cassovary.util.io.{AdjacencyListGraphReader, ListOfEdgesGraphreader}

Ignore edge weights for now.

[2015-05-09 14:27] AnishShah commented on #165
@pankajgupta I got that. But, `isLeftNode: Int => Boolean` allows left node to have an ID other than a negative number. Then what to do when we want to return a node by id?

First Case: I want to save positive numbers for right nodes and negative numbers for the left nodes.
`leftNode(1) = new LeftNode(-1, Array(), Array())`.
`rightNode(1) = new RightNode(1, Array(), Array())`.

Second Case: I'm sa

[2015-05-13 22:20] pankajgupta commented on #165
@AnishShah I am not sure I understand "Then what to do when we want to return a node by id?". If class BipartiteGraph just takes in a single array of nodes: Array[BipartiteNode] rather than separate leftNodes and rightNodes, will it work?

[2015-05-15 15:11] AnishShah commented on #165
@pankajgupta I mean,`getNodeById` method currently checks for Left Node. If it is a Left Node, then it negates the id and returns the node. So, this won't work for other cases (where left node ids are not negative.).

Just a single array of nodes would work only if left nodes and right nodes will have positive and unique ids. right?

[2015-05-16 05:07] pankajgupta commented on #165
Backing up a bit: The idea of bipartite graph class is to allow a user of that class to specify a graph which might have nodes with same id in left and right hand side, e.g., from the POV of the user, there can be edge between 1 on LHS and 1 on RHS. It is the job of the class to still work -- i.e., manage the internal ids to be unique. The current class does this fine by translating the external i

[2015-05-28 04:22] pankajgupta opened #185 "ListOfEdgesGraphReader: Handle duplicate edges and/or maintain specified/sorted order"
com.twitter.cassovary.util.io.ListOfEdgesGraphReader reads each edge in input one by one and will form an adjacency list (neighbor nodes of a source node) in the same order as it sees it and does not handle duplicates. Add variables to this class constructor to:
1. Handle duplicate edges or not
2. Keep original order in input or keep neighbors of a node in sorted order

https://github.com/twitter/

[2015-06-17 13:38] alexloginov opened #186 "[Bug?] PageRank sum is much less 1"
Hi Everybody!

I'm trying to calculate PageRank for a graph [toy_7nodes_adj_StringIds.txt](https://github.com/twitter/cassovary/blob/master/cassovary-core/src/test/resources/graphs/toy_7nodes_adj_StringIds.txt) using cassovary-core_2.11:5.0.0

My code is pretty simple:
[code]

But I was very surprised with results:

So it is not 1 in total. After this i decided to print out ranks for each node sep

[2015-06-17 13:40] bmckown commented on #186
I wrote the implementation for pagerank.  @pankajgupta I will take a look at this.

[2015-06-17 14:17] alexloginov commented on #186
Note: I've tried to override GraphReader and put StoredGraphDir.BothInOut (assumed, that problem could be in missing InboundNodes references), but it didn't help.

[2015-06-17 14:48] bmckown commented on #186
A quick note:  release 5.1.0 has a new implementation of all link analysis algorithms including PageRank and Hits.  However, when running the above graph on the new version, there is a divide by zero error occurring yielding infinity for nodes with no outbound neighbors.  Good catch @alexloginov.  I will fix the implementation and submit a patch.

[2015-06-17 14:53] alexloginov commented on #186
@bmckown
Thank you for a very quick response. I will be glad to get this patch!!!

[2015-06-17 17:06] pankajgupta commented on #186
Looking forward to the PR, @bmckown :)

On Wed, Jun 17, 2015 at 7:53 AM, alexloginov <notifications@github.com>
wrote:

[2015-06-19 19:16] AnishShah commented on #165
@pankajgupta Sorry. I moved to a different city. Couldn't reply.

As you said the current class does not handle the case of unique ids well. Do you want me to such the complete structure of BipartiteGraph? any suggestions..?

[2015-06-20 04:10] pankajgupta commented on #165
May be allow the user to specify whether the ids are already unique or not?

On Friday, June 19, 2015, Anish Shah <notifications@github.com> wrote:

[2015-06-23 19:45] plofgren opened #188 "Exception loading graph in SharedArrayBasedDirectedGraph"
Today when I was loading a simple graph into SharedArrayBasedDirectedGraph, I received an ArrayIndexOutOfBoundsException.  The graph is [here](https://github.com/plofgren/cassovary/blob/load-bug/cassovary-core/src/test/resources/graphs/test_graph.txt) and a minimal main class demonstrating the error is [here](https://github.com/plofgren/cassovary/blob/load-bug/cassovary-core/src/main/scala/LoadBug

[2015-06-23 22:21] pankajgupta commented on #188
I'm looking at this

[2015-06-23 23:13] pankajgupta commented on #186
Can you verify post merge, it works for you @alexloginov ?

[2015-06-23 23:14] pankajgupta commented on #188
Can reproduce the bug when the stored graph dir is desired to be BothInOut.

[2015-06-24 01:48] szymonm commented on #188
Did you find the cause, Pankaj? If not, I can have a look at it.

On Tue, 23 Jun 2015 at 19:14 Pankaj Gupta <notifications@github.com> wrote:

[2015-06-24 15:39] alexloginov commented on #186
@bmckown, @pankajgupta Verified on 5 different small graph. Everything works correctly. Today i'm going to test it against real-world data (52M edges, 5M nodes) and will write results.

[2015-06-24 17:43] pankajgupta commented on #188
Thanks Szymon. I didn't get a chance to get deeper yet. Please feel free to
take a look

Feel free to work on branch 'issue188' that has the following two files to
help reproduce/debug the error.

$ git diff --name-only master
cassovary-core/src/test/resources/graphs/toy_9nodes.txt
cassovary-examples/src/main/scala/HelloLoadSharedGraph.scala

On Tue, Jun 23, 2015 at 6:48 PM, Szymon <notifications@

[2015-06-24 18:19] alexloginov commented on #186
@bmckown, @pankajgupta Issue fixed. Checked on pretty big graph (52M edges, 5M nodes) - everything works like a charm!

Very good work guys, i'm very appreciated!

@pankajgupta when fixed version will be available in TWTR maven or maven-central? Right now i'm using self-packaged version, but hold 23M jar file as unmanaged dependency is a bit messy way.

Thank you, again!
Alexander

[2015-06-24 19:12] pankajgupta commented on #186
@alexloginov I have released 5.1.3 to Maven -- might take a day to appear in maven central.

[2015-06-24 23:58] pankajgupta commented on #186
It is now in maven central. Closing this bug.

[2015-06-24 23:58] #186 closed

[2015-06-28 18:31] alexloginov commented on #186
@pankajgupta Awesome! Thanks you very much!

[2015-06-29 16:43] pankajgupta commented on #188
Fixed by @szymonm

[2015-06-29 16:43] #188 closed

[2015-07-15 18:45] tlasica commented on #185
I see two approaches possible:
a) using smart structure instead of ArrayBuffer[Int] to do dedup during adding neighbours
b) do post processing for sorting or duplicate elimination

I assume that the signature of below function should remain unchanged to makes things easier
[code]

Solution (a) introduces additional memory overhead for keeping both set and list in case of unsorted with duplicates e

[2015-07-15 19:08] pankajgupta commented on #185
IIUC you are saying that (a) requires at least 2x memory in your implementation as you would keep both a set and a list? If so, that is just too much. You could keep only a SortedSet in (a) and then convert to Array at the end. Alternatively, post-processing as in (b) looks good too.

[2015-07-16 01:25] zjpjack opened #191 "java.lang.OutOfMemoryError: PermGen space"
Hi,

I am trying to build cassovary on mac(version 10.10.4), when I use ./sbt test, there is error as following.
Does anyone know how to figure this?
Thanks

The log file for this session is at /var/folders/fl/xbhv8lfx32dff1pbd0dmx4xw0000gn/T/sbt7317476583123018292.log
java.lang.OutOfMemoryError: PermGen space
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineCl

[2015-07-16 03:23] tlasica commented on #185
Yes, in solution (a) there is twice as much memory used. Unfortunately it is impossible to use only  SortedSet(a) if you want to keep the order of neighbours as given in the file. It is possible if we decide that deduplication=true and sort=false is not acceptable.

[2015-07-16 05:12] pankajgupta commented on #185
Makes sense -- (b) sounds more flexible then, doesn't it?

On Wed, Jul 15, 2015 at 8:23 PM, Tomek Łasica <notifications@github.com>
wrote:

[2015-07-16 05:16] pankajgupta commented on #191
Interesting -- you can try adding "-XX:PermSize=256m" as an additional
option in ./sbt file, but the problem could be something else too...

What is your java version?
As mentioned in README, "Also, Cassovary requires Java 7+ and the last
Cassovary version to support Java 6 was 3.4.0."

On Wed, Jul 15, 2015 at 6:25 PM, zjpjack <notifications@github.com> wrote:

[2015-07-16 17:07] tlasica commented on #191
I sometimes got the OutOfMemory error after running test several times in one sbt session. It may give you a hint.

[2015-07-17 16:40] zjpjack commented on #191
This problems is solved through adding additional permsize parameter. Thanks.

[2015-07-17 17:00] pankajgupta commented on #191
How about a pull request to bring it into master?

On Friday, July 17, 2015, zjpjack <notifications@github.com> wrote:

[2015-07-17 17:18] tlasica commented on #191
finishing it

On 07/17/2015 01:00 PM, Pankaj Gupta wrote:

[2015-07-18 11:02] AnishShah commented on #165
@pankajgupta For that, we will need a different implementation for Bipartite Graph.

[2015-07-18 11:53] AnishShah commented on #165
I'll try to implement this... will send a PR in some days..

[2015-07-18 21:42] pankajgupta commented on #165
Great

[2015-07-21 17:50] pankajgupta commented on #191
Fixed in master

[2015-07-21 17:50] #191 closed

[2015-07-28 18:48] #185 closed

[2015-08-05 23:39] pankajgupta opened #196 "Allow sorting and de-duplication of neighbors in AdjacencyListGraphReader as well"
https://github.com/twitter/cassovary/issues/185 did this for ListOfEdgesGraphReader. In the interest of completeness, same options should be allowed for adjacency list reader. Perhaps there is a way to abstract out the code for preparation of neighboring edges before forming a NodeIdEdgesMaxId. CC @tlasica

[2015-09-07 05:11] pankajgupta opened #199 "Allow sparse array representation in ArrayBasedDirectedGraph"
Currently all nodes are stored in an array of size maxNodeId+1. This is wasteful in memory when the node ids are sparsely distributed. Make a sparse representation of the collection of nodes (e.g., using fastutils int2int map or a trie, or some other home grown version) that maps node id to a node efficiently and compactly.

[2015-09-08 05:11] pankajgupta opened #200 "Convert Node.inboundNodes() and outboundNodes() to have Array[Int] instead of Seq[Int]"
I think @szymonm you had pointed this out with some benchmarking data as well? If so, can you please link to a gist if possible. I am finally coming around to agreeing that this should indeed be done as the current code does un-necessary boxing/unboxing.

[2015-09-08 07:32] szymonm commented on #200
What could be event better is to have our own Seq (backed by Array) that is
specialized.

I benchmarked only some Map based boxing.

On Tue, 8 Sep 2015 at 07:11 Pankaj Gupta <notifications@github.com> wrote:

[2015-09-08 09:06] Tooa commented on #156
This could be closed, right? It seems to be already implemented by @AnishShah

[2015-09-08 16:21] pankajgupta commented on #156
That's right. Closing it.

[2015-09-08 16:21] #156 closed

[2015-09-09 04:47] pankajgupta commented on #200
So something like class MySeq[@specialized(Int) T] { ... }

what are the reasons using this would that be better than plain Array?

[2015-09-09 06:23] szymonm commented on #200
If we implement get(n: Int): Int in MySeq returned int will not be boxed.
And all the other methods we implement in Seq.

On Wed, 9 Sep 2015 at 06:47 Pankaj Gupta <notifications@github.com> wrote:

[2015-09-09 07:00] pankajgupta commented on #200
So will in an array?

[2015-09-09 07:13] szymonm commented on #200
That's true. But I was thinking that MySeq could have API that is a subset
of scala.Seq (inluding map function for instance), so that we can
eventually change it to scala.Seq, when Scala solves boxing/unboxing
problems.

On Wed, 9 Sep 2015 at 09:00 Pankaj Gupta <notifications@github.com> wrote:

[2015-09-09 16:43] pankajgupta commented on #199
Working on this.

[2015-09-17 12:02] szymonm commented on #66
The priority of this change is to allow generic ids with Int, Long specialization while maintaining as much of the current performance as possible.

While it is relatively easy to generalize ids, it is not that easy utilize specialization and keep the current performance due to the following reasons:
1) Scala's collections are not specialized,
2) fastutil collections are hardly interoperable with

[2015-09-17 12:04] szymonm commented on #66
For now, I'm moving towards 1) while trying to keep current usage patterns of fastutils where possible.

[2015-09-17 17:44] pankajgupta commented on #66
Yes, 1) seems best for now.

On Thu, Sep 17, 2015 at 5:04 AM, Szymon <notifications@github.com> wrote:

[2015-09-18 16:47] szymonm commented on #66
Turns out generalization will be complicated even if we don't use fastutils.
In few places we use int ordering and utils from java.util.Arrays (see for instance DirectedPath, DirectedGraph).
We need to have Id <: Ordered. Ordered is again not specialized in Scala...

What do you think of using Spire, @pankajgupta ? We get specialized Order and solve problems with arrays (https://github.com/non/spi

[2015-09-21 05:33] pankajgupta commented on #66
I don't think we want dependency on Spire which seems too big and written
for different purpose.

Would be great to supply our own implementations where needed. Didn't find
java.util.Arrays used in DirectedGraph, in DirectedPath we can easily write
our own code.
Regarding Ordering/Ordered, what's the problem exactly -- that it will use
autoboxing when used?

On Fri, Sep 18, 2015 at 9:47 AM, Szymon

[2015-09-21 07:12] szymonm commented on #66
1) It's not that easy to supply our own implementations in many places. Consider Arrays.equals.
We have id type @specialized(Int, Long) Id, that we don't want to box for Int, Long and don't care about the performance for other types. Currently, we use Arrays.equals(int[], int[]) that is basically: check for all elements equality using ==, which is non boxed equality for Int. The same is with Long.

[2015-09-21 16:23] pankajgupta commented on #66
A radical thought which I haven't thought through fully -- perhaps switch
to using Long ids everywhere, however work the code so that it is optimized
for ints when node ids do fit in an int. So:

1. Give up on non-numeric ids. I think this is okay. Everything else can be
(perhaps should be) managed by labels.
2. All interfaces e.g., getNodeById etc. use Long ids.
3. The fact that internally ints a

[2015-09-22 13:39] szymonm commented on #66
1. We have boxing problems also with only-numeric ids. If we have @specialized(Int, Long) Id <: Numeric[Id] , we have Numeric not specialized and again the same problems. The only easy way to go is using either Int or Long as ids.

Your idea with using Long ids everywhere outside and Ints only for storing seems nice. There still needs to be a place when we convert ints to long, however. I don't se

[2015-09-22 16:30] szymonm commented on #66
I did some prototype here:
https://github.com/szymonm/scala-fastutils/blob/master/benchmark/src/main/scala/Map.scala

Basically, I defined my own specialized Map implementation - FastMap. It is generic but provides basic specialized operations; for ints is backed by fastutils.Int2IntHashMap and can be converted to scala.mutable.Map (then operations are boxed).
You can create it using FastMap[Int,

[2015-09-22 16:53] pankajgupta commented on #66
On Tue, Sep 22, 2015 at 6:39 AM, Szymon <notifications@github.com> wrote:

if the best might be to make our own class similar to this
https://github.com/scala/scala/blob/v2.11.7/src/library/scala/collection/mutable/WrappedArray.scala#L1

which supports seamless Int <-> Long conversion and feels like a Seq so
that the usual collection operators are supported. This will imply
boxing/unboxing in the

[2015-09-22 16:56] pankajgupta commented on #66
Nice!

btw, if you write your own collection, be sure to take at least one read of
http://docs.scala-lang.org/overviews/core/architecture-of-scala-collections.html

Some design patterns mentioned here might be useful

On Tue, Sep 22, 2015 at 9:30 AM, Szymon <notifications@github.com> wrote:

[2015-10-01 05:29] szymonm opened #206 "build falling"
Can you check this @pankajgupta https://travis-ci.org/twitter/cassovary?

[2015-10-01 06:58] pankajgupta commented on #206
Fixed now, thanks for pointing it out!

[2015-10-01 19:58] AnishShah commented on #183
working on this...

[2015-10-01 19:58] AnishShah commented on #165
I think, we can close this issue.

[2015-10-02 00:07] pankajgupta commented on #165
Sure

[2015-10-02 00:07] #165 closed

[2015-10-02 17:52] #206 closed

[2015-10-02 17:55] szymonm commented on #83
@pankajgupta @bartekkalinka what is going on with this?

[2015-10-02 18:54] pankajgupta commented on #83
I actually worked on improving ListOfEdgesGraphReader faster last weeks (it is in master now) and got a fair amount of speedup (I think 5-10x) by removing the regex and other data structure changes. Changes are already in master. Haven't touched AdjacencyListGraphReader yet but simply removing the regex helps. @bartekkalinka if you want to work on this, let me know else I will enqueue this for mys

[2015-10-04 08:35] bartekkalinka commented on #83
Go ahead and take it.  I'll consider working on other issues sometimes maybe.

[2015-10-30 17:09] pankajgupta commented on #200
Hey @szymonm -- just wondering if you are working on this?

[2015-10-30 17:10] pankajgupta commented on #183
How is it going @AnishShah ?

[2015-11-01 13:37] szymonm commented on #200
Yes, I am. Trying to finish CMap right now and then CSeq...

On Fri, 30 Oct 2015 at 18:09 Pankaj Gupta <notifications@github.com> wrote:

[2015-12-09 15:51] pocman commented on #168
"IMHO, edge weights are important for many applications and it is a key
missing feature of Cassovary right now" @pankajgupta
+1
I would really like something similar to Labels.

[2015-12-10 00:56] pankajgupta commented on #168
Yes indeed. As an aside, there is a beginning of this feature in terms of
node labels.

See
https://github.com/twitter/cassovary/tree/master/cassovary-core/src/main/scala/com/twitter/cassovary/graph/labels

Perhaps you can tell us a bit about what kind of edge labels will satisfy
your use case? e.g., you have how many approx. edges and approx. how many
and what kinds of labels per edge?

CC @szymo

[2015-12-10 06:36] pocman commented on #168
I read that labels are suitable for nodes and edges so I used (Int, Int) keys and Long or True labels for my edges.
In this use case, my graph is really dense and I have 7 types of labels.

I'm in the process of making it work but I think that I will a hard time querying labels with partial tuples (all labels with  a given source node)

In the end, it would be really useful to create an hash/id fo

[2015-12-10 17:10] pankajgupta commented on #168
Not sure I fully understand. May be make a class of these 7 labels and
index that by edge? What do you mean by partial tuples?

The best might be to point to your code if you can.

On Wed, Dec 9, 2015 at 10:36 PM, Thomas <notifications@github.com> wrote:

[2015-12-11 08:12] pocman commented on #168
How can I create an index by edge without using a tuple of (src.id, dst.id) ?

By partial tuples, I meant that using (src.id, dst.id) as an index for edge, it's really tempting to try to the sum of incoming weights without using the graph representation itself.

[2015-12-30 21:03] plofgren opened #209 "Build fails due to twitter metrics dependency"
Is there any update to the issue #180?

I have code which depends on `"com.twitter" %% "cassovary-core" % "6.3.0"` and when I try to compile it or do `sbt update`, I get unresolved dependency
`com.twitter.common#metrics;0.0.37: not found`

I think in the past retrying has worked, but I just tried three times and all tries failed.  I also hit this bug a few months ago when I tried to help another P

[2016-01-01 17:54] pankajgupta commented on #209
As mentioned in that issue #180 the problem's likely cause is that of intermittently failing maven.twttr.com Another workaround is adding metrics-0.0.37.jar in the managed dependencies of your project.

For now, finagle-stats are actually used inside, but it is indeed the right thing to move them out of the core library. Creating a separate issue to do that.

[2016-01-01 17:55] pankajgupta opened #210 "Do not use finagle-stats inside cassovary-core"
Refactor to not have a dependency on finagle-stats. Causes problems like in #209 plus it is not a great idea to have metrics / stats be done inside the core of the library.

[2016-01-03 11:32] bandaot commented on #209
and

resolvers += "twitter" at "http://maven.twttr.com"

may solve the problem

[2016-01-05 22:42] plofgren commented on #209
Thanks! I ran sbt update on a different day and it worked.  If I encounter this again I'll try one of those two workarounds.

[2016-01-26 20:50] szymonm commented on #169
Does this means that it's not a bug?

[2016-05-24 02:10] lintool opened #212 "Write a Cassovary shell"
Just like there's a Spark shell for interactively playing around, we should write a Cassovary shell that support interactive manipulation of the graphs. I've started prototyping something in my clone, under `repl` branch.

Better yet, instead of the current server, we should have a backend server process that loads a potentially large graph, and multiple frontend shells can connect to it and acces

[2016-05-24 02:13] lintool opened #213 "Refactor API: s/node/vertex"
We should rename Node to Vertex in the API. Two main reasons:

1. Vertex makes you sound smarter... :)
2. If we want to start playing with partitioning, we want to reserve "Node" for logical/physical machine nodes, so `getNode` and `getVertex` can be easily disambiguated.

[2016-05-24 03:24] pankajgupta commented on #212
Yep that will be awesome. Memory map work done by Peter makes it easier to
load large graphs too...

On Tuesday 24 May 2016, Jimmy Lin <notifications@github.com> wrote:

[2016-06-02 15:14] pankajgupta commented on #213
Agreed.

[2016-06-02 21:12] lintool commented on #213
Okay, I'll refactor and send a pull request... this will help me get my feet wet and learn the API, etc.

[2016-06-02 21:14] lintool opened #214 "Implement GraphX API on Cassovary"
Might be fun to try and implement the GraphX API on Cassovary. Then we can compare scale up vs. scale out.

[2016-06-02 21:16] lintool opened #215 "Implement Giraph API on Cassovary"
Similar to #214

Would be fun to implement Giraph (e.g., Pregel) API on top of Cassovary - once again, testing scale up vs. scale out.

[2016-06-04 13:10] pankajgupta commented on #213
Looking forward :)

[2016-06-04 13:13] pankajgupta commented on #214
Yep. For comparison of scale up vs scale out, what is a distributed graph system du jour? Is it graphx?

[2016-07-14 12:19] andypetrella opened #217 "[question] Property Graph?"
Hello, I'd like to experiment cassovary, but I need a property graph in which properties would be used during traversals -- am I on the right track?

I may have not read the documentation mentioning this case, if any, so sorry if it's a RTFM :-)

Thanks
andy

[2016-07-14 16:43] pankajgupta commented on #217
Properties (node/edge labels) can currently not be used while traversals.

On Thu, Jul 14, 2016 at 5:49 PM, Andy Petrella <notifications@github.com>
wrote:

[2016-08-20 17:01] #200 closed

[2016-10-09 03:04] lintool opened #222 "PerformanceBenchmark doesn't seem to be able to read gzipped files"
The class `com.twitter.cassovary.PerformanceBenchmark` doesn't seem to be able to read gzipped files. Example:

[code]

[2016-10-09 03:10] lintool opened #223 "Add optional command-line arg in PerformanceBenchmark to store only outgoing edges"
Current implementation of `PerformanceBenchmark` is fixed to read graph as `StoredGraphDir.BothInOut`. Let's add a command-line option to store only outgoing edges, `StoredGraphDir.OnlyOut`

Ref: https://github.com/twitter/cassovary/blob/master/cassovary-benchmarks/src/main/scala/com/twitter/cassovary/PerformanceBenchmark.scala#L112

[2016-11-12 19:26] lintool commented on #222
This issue has been addressed.

[2016-11-12 19:26] #222 closed

[2016-11-12 19:27] lintool commented on #223
This issues has been addressed.

[2016-11-12 19:27] #223 closed

[2016-11-16 15:06] lintool opened #225 "Inconsistency in Node API"
If we look at the Node API, we have:

`def randomOutboundNodeSet(numResults: Int, rnd: Random): Seq[Int]`:
https://github.com/twitter/cassovary/blob/master/cassovary-core/src/main/scala/com/twitter/cassovary/graph/Node.scala#L123

`def outboundNodes(): CSeq[Int]`:
https://github.com/twitter/cassovary/blob/master/cassovary-core/src/main/scala/com/twitter/cassovary/graph/Node.scala#L89

Note that on

[2016-11-16 15:42] pankajgupta commented on #225
Good catch. Will fix.

[2018-01-21 17:33] randykerber opened #228 "[question] What is the status of Cassovary?"
Looks like last commit was in 2016.  Is this project still active?  Superseded by some other project?

[2018-01-22 15:41] pankajgupta commented on #228
No new development going on. But happy to support users -- old and new.

[2018-07-17 19:15] sangminoh715 opened #229 "How to Fix a Self-Dependence Error"
Hi,

I am trying to build Cassovary, but I am getting an error saying a module cannot depend on itself.
`[error] a module is not authorized to depend on itself: com.twitter#cassovary-core_2.11;7.1.0`

Before this error, there are warning messages saying that a circular dependency exists.
`[warn] circular dependency found: com.twitter#cassovary-collections_2.11;7.1.0->com.twitter#cassovary-core_2.1

[2019-02-16 13:55] Alireza-Farahani commented on #140
I'm using version 7.1.0 and can't find anything explicitly for undirected graphs. What's the correct way of working with undirected graphs?
A simple graph like `1 2` when loaded by this code:
[code]
prints
[code]
which very confusing.